body {
    background: url("../images/background.jpg") no-repeat center center fixed;
    background-size: cover;
}

.PostButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 270px;
}

.AllPostsButton{
    width: 100px;
    color: black;
    background-color: #ffdb58;
    padding: 4px;
    position: absolute;
    left: 43%;
    top: 50%;
}

.CreatePostButton{
    width: 100px;
    color: black;
    background-color: #ffdb58;
    padding: 4px;
    position: absolute;
    left: 53%;
    top: 50%;
}

textarea{
    height: 300px;
    border:none;
    background-color: #F5F5F5;
}

.CreateSubmit{
    margin-top: 30px;
    background-color: #4CAF50;
    color:white;
    padding: 5px;
    border: none;
    margin-bottom: 20px;
    width: 100px;
    margin-left: 400px;
}
